:root {
    --primary: #c89445;
    --primary-light: #e7c17a;
    --gold: #f4d49a;
    --black: #050505;
    --white: #ffffff;
    --text: #888888;
    --border: rgba(200, 148, 69, .25);
    --transition: .3s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

section {
    scroll-margin-top: 80px;
    max-width: 1400px;
}

/* =====================================================
         REVEAL
===================================================== --> */
.reveal {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1.05);
    }
}

/* =====================================================
         NAVBAR
===================================================== --> */
nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    transition: var(--transition);
    z-index: 1100;
}
#navbar.scroll{
    background: rgba(5, 5, 5, .96);
    border-bottom: 1px solid var(--primary);
    transition: .3s ease;
}

.nav-logo {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.logo-icon {
    width: 42px;
    height: 42px;
}

.nav-text h2 {
    font-family: "DM Serif Display", serif;
    font-size: 1.7rem;
    line-height: 1;
}

.nav-text p {
    color: var(--primary);
    font-size: .9rem;
}

#nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#nav-links li {
    list-style: none;
}

#nav-links li a {
    color: var(--white);
    transition: var(--transition);

}

.hide {
    display: none;
      font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
    background-color: var(--primary);
    color: var(--black);
    border-radius: 50px;
    transition: var(--transition);
}

#nav-links li a:hover {
    color: var(--primary);
}

.nav-btn {
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
    background-color: var(--primary);
    color: var(--black);
    border-radius: 50px;
    transition: var(--transition);

}

.nav-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px var(--primary-light);
}



/* navbar */


#toggler{
    display: none;
    background: transparent;
    border: none;
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 1100;
}
.hamberger{
    display: block;
    position: absolute;
    height: 3px;
    width: 13px;
    border-radius: 50px;
    background-color: var(--primary);
    transition: var(--transition);
}
.hamberger::before,
.hamberger::after{
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
     border-radius: 50px;
    background-color: var(--primary);
    transition: var(--transition);
    left: 0;
}
.hamberger::before{
    top: -8px;

}
.hamberger::after{
    bottom: -8px;
}
#toggler.active .hamberger{
    background-color: transparent;
}
#toggler.active .hamberger::before{
    transform: rotate(45deg);
    top: 0;
}
#toggler.active .hamberger::after{
    transform: rotate(-45deg);
    bottom: 0;
}




/*  =====================================================
        HERO
=====================================================  */
#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(image/bg.avif);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-badge {
    background: linear-gradient(rgba(255, 255, 255, 0.14), rgba(0, 0, 0, 0.753));
    padding: .7rem 1rem;
    border-radius: 50px;
    width: fit-content;
    margin: 0 auto;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

.hero-script {
    font-family: "Rouge Script", cursive;
    font-size: 7rem;
    color: var(--primary);
    position: relative;
}

.hero-section h1 {
    font-size: 7rem;
    font-family: "Orbitron", sans-serif;


}

.hero-section h1 span {
    color: transparent;
    -webkit-text-stroke: 1px var(--white);
}

.hero-section p {
    color: var(--text);
    max-width: 700px;
    margin: 2rem auto;
}

.hero-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.hero-btn-container a:nth-of-type(1) {
    font-size: .9rem;
    font-weight: 600;
    padding: .7rem 1.5rem;
    background-color: var(--primary);
    color: var(--black);
    border-radius: 50px;
    transition: var(--transition);
}

.hero-btn-container a:nth-of-type(1):hover {
    transform: translateY(-4px);
    box-shadow: 0 0 10px var(--primary-light);
}

.hero-btn-container a:nth-of-type(2) {
    font-size: .9rem;
    font-weight: 600;
    padding: .7rem 1rem;
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 50px;
    transition: var(--transition);
}

.hero-btn-container a:nth-of-type(2):hover {
    background-color: var(--primary);
    color: var(--black);
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
  transform: translateX(-50%);
    font-size: .7rem;
    color: var(--primary);
    letter-spacing: 4px;
    margin: 0;
   
}

.scroll-down i {
    display: block;
    margin-top: 5px;
    animation: scroll 1.5s infinite;
}

@keyframes scroll {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(.5rem);
    }
}

/*  =====================================================
       ABOUT
=====================================================  */
#about {
    background: linear-gradient(90deg, #f1ece2 0%, #f1ece2 50%, #0a0a0a 50%, #0a0a0a 100%);
    height: 100vh;
    max-width: 100%;
padding: 5rem 6%;

}

.about-section {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    margin: 0 auto;

}

.about-img {
    width: 100%;
    height: 550px;
    position: relative;

}

.about-img::before {
    content: "";
    position: absolute;
    inset: 15px;
    border: 1px solid rgba(200, 148, 69, 0.708);
    z-index: 2;
    pointer-events: none;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-img-layer {
    position: absolute;
    top: 35px;
    left: 35px;
    z-index: 3;
    width: 100px;
    height: 100px;
    background-color: #050505e2;
    border: 10px double #c89445dd;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.about-img-layer:hover {
    transform: rotate(5deg) scale(1.05);
}

.about-img-layer span {
    color: var(--text);
    font-size: .9rem;
    letter-spacing: 3px;
}

.about-img-layer strong {
    color: var(--primary);
    font-size: 1.3rem;
    font-weight: 400;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.about-content h5 {
    color: var(--primary);
    font-size: .9rem;
    letter-spacing: 4px;
    margin-bottom: 1.5rem;
}

.about-content h2 {
    font-family: "DM Serif Display", serif;
    color: var(--white);
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    max-width: 600px;
}

.about-content h2 span {
    color: var(--primary);
}

.about-content p {
    color: var(--text);
    line-height: 1.8;
    margin-bottom: .7rem;
    font-size: .9rem;
    max-width: 600px;
}

.about-content p:nth-of-type(2) {
    margin-bottom: 2rem;
}

.about-content a {
    font-size: .9rem;
    font-weight: 600;
    padding: .7rem 1.5rem;
    background-color: var(--primary);
    color: var(--black);
    border-radius: 50px;
    transition: var(--transition);
}

.about-content a:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 5px var(--primary-light);

}

/*  =====================================================
        SECTION HEADING
=====================================================  */
.section-heading {
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.section-heading span {
    color: var(--primary);
    font-size: .9rem;
    font-weight: 800;
    letter-spacing: 4px;
    margin-bottom: 1.5rem;

}

.section-heading h2 {
    font-family: "DM Serif Display", serif;
    color: var(--white);
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.section-heading p {
    color: var(--text);
    font-size: .9rem;
    max-width: 650px;
    margin: 15px auto;
    line-height: 1.8;
}

/*  =====================================================
        MENU
=====================================================  */
#menu {
    max-width: 100%;
    height: auto;
    background: linear-gradient(135deg, rgba(0, 0, 0, 9), rgba(0, 0, 0, 8));
    padding: 5rem 6%;
}

.filter-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.filter-btn {
    background-color: transparent;
    color: #ffffffb3;
    padding: .5rem 1.5rem;
    border: 1px solid #333;
    border-radius: 50px;
    transition: var(--transition);
}

.filter-btn:hover,
.filter-btn.active {
    background-color: var(--primary);
    color: var(--black);
}

.menu-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    background: linear-gradient(145deg, #191919, #0b0b0b);
    border: 1px solid var(--border);
    border-radius: 20px;
    transition: var(--transition);
    overflow: hidden;

}

.card:hover {
    transform: translateY(-8px);
    border: 1px solid var(--primary);
    box-shadow: 0 15px 40px rgba(0, 0, 0, .4);
}

.menu-img {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;

}

.menu-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: .5s ease;
    object-fit: cover;

}

.menu-img span {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--primary);
    color: var(--black);
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 50px;
    z-index: 1;
}

.card:hover .menu-img img {
    transform: scale(1.05);
}

.card-content {
    padding: 25px;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card-top h3 {
    font-family: "DM Serif Display", serif;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.card-top span {
    color: var(--primary);
    font-weight: 600;
}

.card-content p {
    color: var(--text);
    font-size: .9rem;
    margin-bottom: 1rem;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-bottom span {
    color: var(--primary);
    font-weight: 600;
}

.card-bottom button {
    font-size: .9rem;
    font-weight: 600;
    padding: .7rem 1rem;
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 50px;
    transition: var(--transition);

}

.card-bottom button:hover {
    background-color: var(--primary);
    color: var(--black);
}


/*  =====================================================
         FEATURED DISH
=====================================================  */
#feature {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 5rem 6%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 9), rgba(0, 0, 0, 8));
}

.feature-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--border);
    border-radius: 20px;
    overflow: hidden;
}

.feature-img {
    width: 100%;
    height: 500px;
}

.feature-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.feature-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.feature-content>span {
    color: var(--primary);
    font-size: .9rem;
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
}

.feature-content h2 {
    font-family: "DM Serif Display", serif;
    color: var(--white);
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    max-width: 600px;
}

.feature-content h2 span {
    color: var(--primary);
}

.feature-content p {
    color: var(--text);
    font-size: .9rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.feature-content div {
    color: var(--primary);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.feature-content a {
    font-size: .9rem;
    font-weight: 600;
    padding: .7rem 1.5rem;
    background-color: var(--primary);
    color: var(--black);
    border-radius: 50px;
    transition: var(--transition);
    width: fit-content;
}

.feature-content a:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 5px var(--primary-light);
}

/*  =====================================================
        AMBIENCE
=====================================================  */
#ambience {
    max-width: 100%;
    padding: 5rem 6%;
    background-color: #080808;
}

.ambience-container {
    max-width: 1400px;

}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 220px;
    gap: 1rem;
}

.container {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;

}

.container:hover img {
    transform: scale(1.05);
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    transition: var(--transition);
}

.container.one {
    grid-column: span 2;
    grid-row: span 2;
}

.container.two {
    grid-column: span 2;
}

.container-text {
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
    width: 100%;
    background: linear-gradient(transparent 40%, black);
}

.container-text span {
    color: var(--primary);
    font-size: .9rem;
    font-weight: 700;
}

.container-text h3 {
    font-family: "DM Serif Display", serif;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
}



/*  =====================================================
          WHY US
=====================================================  */
#why-us {
    max-width: 100%;
    padding: 5rem 6%;
    background-color: #080808;

}

.why-us {
    max-width: 1400px;
}

.why-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.why-card {
    text-align: center;
    padding: 35px 20px;
    background: #101010;
    border: 1px solid var(--border);
    border-radius: 15px;
    transition: var(--transition);
}

.why-card:hover {
    transform: translateY(-6px);
    border: 1px solid var(--primary);
}

.why-card i {
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

.why-card h3 {
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

.why-card p {
    color: var(--text);
    font-size: .9rem;
}


/* =====================================================
         REVIEWS
===================================================== --> */
#reviews {
    max-width: 100%;
    padding: 5rem 6%;
    background: linear-gradient(90deg, #f1ece2, #f1ece2);
    color: var(--black);
}

.review-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.reviews-container {
    display: flex;
    width: max-content;
    gap: 2rem;
    animation: reviewScroll 20s linear infinite;
}

.review-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    flex-shrink: 0;
    transition: .5s ease;
}

.review-wrapper:hover .reviews-container {
    animation-play-state: paused;
}

@keyframes reviewScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.stars {
    color: var(--primary);
    margin-bottom: 1rem;
    letter-spacing: 1.8;
}

.review-card p {
    color: var(--text);
    font-size: .9rem;
    line-height: 1.8;
    font-style: italic;
    margin-bottom: 1rem;
    max-width: 300px;

}

.customer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.customer img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.customer h4 {
    font-size: .9rem;
}

.customer span {
    color: var(--primary);
    font-size: .8rem;
}

/* =====================================================
         RESERVATION
 =====================================================  */
#contact {
    max-width: 100%;
    padding: 5rem 6%;
    background-color: #050505;
}

.contact-container {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border: 1px solid var(--border);
    background-color: #101010;
    border-radius: 20px;
    padding: 3rem;
}

.address h2 {
    font-size: 3rem;
    font-family: "DM Serif Display", serif;
    margin-bottom: 1.5rem;
}

.address h2 span {
    color: var(--primary);
}

.address p {
    font-size: .9rem;
    color: var(--text);
    max-width: 500px;
    margin-bottom: 1.5rem;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

.contact-item i {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    color: var(--black);
    border-radius: 50%;
}

.contact-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
}

.contact-item div span {
    color: var(--primary);
    font-size: .9rem;
    margin-bottom: 3px;
}

.contact-item div p {
    margin: 0;
    font-size: .7rem;
}

/* form */

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.form-content label {
    color: var(--text);
    font-size: .8rem;
    margin-bottom: 10px;
}

.form-content input,
.form-content select,
.form-content textarea {
    background: #080808;
    color: #fff;
    border: 1px solid #333;
    border-radius: 8px;
    outline: none;
    transition: var(--transition);
    padding: 1rem;
    width: 100%;
    font-size: .8rem;
}

.form-content input:focus,
.form-content select:focus,
.form-content textarea:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgba(200, 148, 69, .08);
}

.form-content textarea {
    min-height: 100px;
    resize: vertical;

}

.form-content.full {
    grid-column: 1 / -1;
}

.form-error {
    color: #ff7777;
    display: none;
    font-size: .7rem;
}

.form-content.error input,
.form-content.error select {
    border-color: #ff5555;
}

.form-content.error .form-error {
    display: block;
}

.submit-btn {
    font-size: .9rem;
    font-weight: 600;
    padding: .7rem 1.5rem;
    background-color: var(--primary);
    color: var(--black);
    border-radius: 8px;
    border: none;
    transition: var(--transition);
    margin-top: 1rem;
    width: 100%;

}

.submit-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(200, 148, 69, .2);
}

/* success */
.success {
    display: none;
    text-align: center;
    padding: 35px 10px;
}

.success.show {
    display: block;
}

.success i {
    width: 65px;
    height: 65px;
    display: grid;
    place-items: center;
    margin: auto;
    border-radius: 50%;
    background: var(--primary);
    color: #000;
    font-size: 1.8rem;
}

.success h3 {
    margin-top: 18px;
    font-family: "DM Serif Display", serif;
    font-size: 2rem;
}

.success p {
    color: var(--primary);
    margin-top: 8px;
}


/* =====================================================
         NEWSLETTER
=====================================================  */
#newsletter {
    max-width: 100%;
    padding: 3rem 6%;
    background: linear-gradient(135deg, #101010, #050505);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);

}

.news {
    max-width: 1400px;
}
.newsletter-form{
     max-width: 500px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #444;
    background: #080808;
    border-radius: 50px;
    padding: 5px;
}
.newsletter-form input{
   
     flex: 1;
    background-color: transparent;
    border: none;
     outline: none;
    color: white;
    padding: 10px 15px;
}
 .newsletter-form button {
            border: none;
            background: var(--primary);
            color: #000;
            border-radius: 50px;
            padding: 10px 20px;
            font-weight: 600;
        }

/*  =====================================================
         FOOTER
=====================================================  */
  footer {
            background: #050505;

            padding: 70px 6% 20px;
        }

        .footer-container {
            max-width: var(--max-width);

            margin: auto;

            display: grid;

            grid-template-columns:
                2fr 1fr 1fr;

            gap: 50px;
        }

        .footer-logo {
            font-family: "DM Serif Display", serif;

            font-size: 2rem;
        }

        .footer-logo span {
            color: var(--primary);
        }

        .footer-info p {
            color: var(--text);

            max-width: 400px;

            line-height: 1.7;

            font-size: .8rem;

            margin-top: 15px;
        }

        .social-icons {
            display: flex;

            gap: 10px;

            margin-top: 20px;
        }

        .social-icons a {
            width: 38px;
            height: 38px;

            border: 1px solid var(--primary);

            border-radius: 50%;

            display: grid;

            place-items: center;

            color: var(--primary);

            transition: var(--transition);
        }

        .social-icons a:hover {
            background: var(--primary);

            color: #000;
        }

        .footer-col h3 {
            color: var(--primary);

            font-size: .9rem;

            margin-bottom: 18px;
        }

        .footer-col ul {
            list-style: none;
        }

        .footer-col li {
            margin-bottom: 10px;
        }

        .footer-col a,
        .footer-col li {
            color: var(--text);

            font-size: .8rem;

            transition: var(--transition);
        }

        .footer-col a:hover {
            color: var(--primary);
        }

        .footer-bottom {
            max-width: var(--max-width);

            margin: 50px auto 0;

            padding-top: 20px;

            border-top: 1px solid #222;

            display: flex;

            justify-content: space-between;

            gap: 20px;

            color: #777;

            font-size: .7rem;
        }
